PORT=3000
MONGODB_URI=mongodb://mongo:27017/clothing_store
JWT_SECRET=super-secret-key
MAIL_FROM=AURA Store <no-reply@aura.local>
MAIL_FROM_ADDRESS=no-reply@aura.local
SMTP_HOST=mailpit
SMTP_PORT=1025
SMTP_DISABLED=false

GATEWAY_HOST=0.0.0.0
GATEWAY_PORT=3000

LOGIN_SERVICE_HOST=0.0.0.0
LOGIN_SERVICE_PORT=4001

REGISTER_SERVICE_HOST=0.0.0.0
REGISTER_SERVICE_PORT=4002

MAIN_SERVICE_HOST=0.0.0.0
MAIN_SERVICE_PORT=4003

CARD_SERVICE_HOST=0.0.0.0
CARD_SERVICE_PORT=4004
