PORT=3000
MONGODB_URI=mongodb+srv://talhadnderici:tAlha101@clothes.jkgcz8j.mongodb.net/clothing_store?retryWrites=true&w=majority&appName=clothes
JWT_SECRET=super-secret-key

GATEWAY_HOST=0.0.0.0
GATEWAY_PORT=3000

LOGIN_SERVICE_HOST=0.0.0.0
LOGIN_SERVICE_PORT=4001

REGISTER_SERVICE_HOST=0.0.0.0
REGISTER_SERVICE_PORT=4002

MAIN_SERVICE_HOST=0.0.0.0
MAIN_SERVICE_PORT=4003

CARD_SERVICE_HOST=0.0.0.0
CARD_SERVICE_PORT=4004
